/**
 * Native-Application experience
 */
* {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

html, body {
  width: 100%;
  height: 100%;
}

@font-face {
  font-family: Ubuntu;
  font-weight: 500;
  src: url( 'fonts/Ubuntu-Medium.ttf' );
}

@font-face {
  font-family: Ubuntu;
  font-weight: 400;
  src: url( 'fonts/Ubuntu-Regular.ttf' );
}

body {
  font-family: Ubuntu, Helvetica, sans-serif;
}
