::-moz-focus-inner {
  outline: none;
  border: none; }

button, input, textarea {
  font-family: inherit; }

textarea,
button,
label,
input,
span,
body,
html,
div,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
a {
  box-sizing: border-box;
  border-radius: 0;
  box-shadow: none;
  padding: 0;
  margin: 0;
  outline: none;
  border: none;
  background: none;
  text-shadow: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-focus-ring-color: transparent;
  -webkit-text-size-adjust: none; }
